<main class="flex page">
  <ng-container *ngIf="inputMode">
    <div class="flex-content-center blur-page-container">
      <div class="flex-items-center blur-page">
        <div class="flex-items-center todo-input-pop-up">
          <h1 class="mb-3 pop-up-heading">Enter a new task</h1>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="..."
              [(ngModel)]="inputValue"
            />
            <button
              (click)="handleSubmit()"
              class="btn btn-outline-secondary"
              type="button"
            >
              Add
            </button>
          </div>
          <p class="mt-2">
            Click the add button to include it in your ToDo list
          </p>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="flex content">
    <div class="flex-items-center page-header p-3">
      <div class="flex-items-center gap-4">
        <mat-icon class="blue">event_available</mat-icon>
        <h1 class="page-heading">ToDo-List</h1>
      </div>
      <ng-container *ngIf="filterMode; else moreButton">
        <div class="flex-column filter-popup">
          <p class="text-center mb-2 fw-bolder">Show...</p>
          <div class="flex gap-4 filter-options">
            <p class="blue" (click)="showDoneTodos()">Completed todos</p>
            <p class="red" (click)="showUnDoneTodos()">Not completed todos</p>
            <p (click)="showAllTodos()">All todos</p>
          </div>
        </div>
      </ng-container>
      <ng-template #moreButton>
        <mat-icon (click)="activateFilterMode()" class="more-button"
          >more_horiz</mat-icon
        >
      </ng-template>
    </div>
    <div class="todos-container">
      <div *ngFor="let todo of displayedTodos">
        <app-todo-item
          [todos]="todos"
          [todo]="todo"
          (toggleCheckEvent)="toggleCheck($event)"
          (removeTodoEvent)="removeTodo($event)"
        >
        </app-todo-item>
      </div>
    </div>
    <div class="flex-items-center gap-4 item p-3 add-task">
      <mat-icon class="blue add-item-icon" (click)="activateInputMode()"
        >add_circle_outline</mat-icon
      >
      <p>Create New Item</p>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
